
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none{
  @apply hidden
}

body {
  @apply overflow-x-hidden;
}
/* * {
  outline: 1px solid blue;
} */
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  display: flex;
  animation: slide 5s linear infinite;
  width: max-content;
  will-change: transform;
}

/* ================================================== */
@keyframes fade-left {
  0% {
      opacity: 0;
      transform: translateX(-30px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.animate-fade-left {
  animation: fade-left 1s ease-out forwards;
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}

/* ===============accreditation================== */

.slide-track {
  display: flex;
  gap: 30px; /* Adjust spacing between images */
  animation: slide 80s infinite; /* Slower speed (adjust time as needed) */
  width: calc(300px * 12); /* Adjust based on the number of images */
}

.slide-item {
  height: 80px; /* Adjust as per your design */
  object-fit: contain;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
  }
}
